.header {
  padding: 10px 0;
  background: linear-gradient(90deg, #000, #45a);
  transition: padding 0.5s;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.image {
  float: left;
  width: 55px;
  margin: 0 15px 0 10px;
}

.text {
  display: inline;
  line-height: 1.3em;
  font-weight: 300;
  color: #e0e4fa;
}

.text a {
  text-decoration: none;
  line-height: 1.3em;
  color: #ddf;
}

.text a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 450px) {
  .header {
    padding: 15px 0;
  }
}

@media screen and (min-width: 600px) {
  .header {
    padding: 20px 0;
  }
}

@media screen and (min-width: 980px) {
  .header {
    padding: 25px 0;
  }
}
