.header {
  padding-top: 10px;
  background: linear-gradient(90deg, #000, #34e);
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.image {
  float: left;
  width: 55px;
  margin: 0 15px 0 10px;
}

.text {
  display: inline;
  line-height: 1.3em;
  font-weight: 300;
  color: #e0e4fa;
}

.text a {
  text-decoration: none;
  line-height: 1.3em;
  color: #ddf;
}

.text a:hover {
  text-decoration: underline;
}

.iconContainer {
  padding: 15px;
  max-height: 20px;
  text-align: center;
}

.icon {
  margin: 0 20px;
  height: 20px;
}

@media screen and (min-width: 450px) {
  .header {
    padding-top: 15px;
  }
}

@media screen and (min-width: 600px) {
  .header {
    padding-top: 20px;
  }

  .iconContainer {
    max-height: 23px;
  }

  .icon {
    height: 23px;
  }
}

@media screen and (min-width: 980px) {
  .header {
    padding-top: 25px;
  }

  .iconContainer {
    padding: 20px;
    max-height: 25px;
  }

  .icon {
    height: 25px;
  }
}
