.header {
  padding: 10px 0 20px;
  text-align: center;
  background: linear-gradient(90deg, #000, #45a);
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.image {
  float: left;
  width: 55px;
  margin: 0 15px 0 10px;
}

.image img {
  width: inherit;
}

.block {
  text-align: left;
}

.block p {
  display: inline;
  line-height: 1.3em;
  font-size: 1.2em;
  color: #f0f4fa;
}

.block a {
  text-decoration: none;
  line-height: 1.3em;
  color: #ddf;
}

.block a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 450px) {
  .header {
    padding: 15px 0 30px;
  }
}

@media screen and (min-width: 600px) {
  .header {
    padding: 20px 0 35px;
  }
}

@media screen and (min-width: 980px) {
  .header {
    transition: padding 0.5s;
    padding: 25px 0 40px;
  }
}
