.heading {
  display: inline-block;
  padding-right: 10px;
}

.link {
  display: inline;
}

.date {
  display: inline-block;
  padding-left: 7px;
  color: #78a;
}

.description {
  display: inline;
  padding-left: 7px;
  color: #78a;
}
