.heading {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
}

.listItem {
  margin-bottom: 15px;
}

.link {
  display: inline;
  padding-right: 7px;
}

.link,
.link a {
  line-height: 1.5em;
}

.date {
  display: inline;
  color: #78f;
  font-weight: 300;
}

.subtext {
  color: #78a;
}

.description {
  display: inline;
  color: #78a;
}
