.navbar {
  background: linear-gradient(90deg, #000, #34e);
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
}

.navblock {
  outline: none;
  display: inline-block;
  margin-right: 5px;
  padding: 0 6px;
  padding-top: 0;
  text-transform: capitalize;
  text-decoration: none !important;
  color: #f0f4ff;
  border-radius: 3px;
}

.navblock:hover {
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.12);
}

.navblock:active {
  text-decoration: none;
}

@media screen and (min-width: 350px) {
  .navblock {
    padding: 0 10px;
  }
}

@media screen and (min-width: 450px) {
  .navblock {
    padding: 0 20px;
  }
}
