.return {
  font-size: 1.1em;
}

.date {
  color: #78a;
}

.title {
  text-align: center;
  line-height: 1.5em;
  font-weight: 700;
  color: #229;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  color: #78a;
}

.body {
  padding-bottom: 20px;
}

.body h1 {
  padding-top: 1.2em;
  border-top: 1px solid #abf;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin: 1.2em 0 0.5em;
  line-height: 1em;
  font-weight: 400;
}
