.post {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddf;
}

.date {
  float: right;
  font-weight: 400;
  color: #78f;
}

.title {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  line-height: 1.3em;
  font-weight: 500;
  padding-bottom: 0.5em;
  color: #229;
}

.subtext {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.3em;
  font-weight: 400;
  font-style: italic;
  color: #78a;
}

.body {
  margin-bottom: 1em;
}

.body p,
.body a,
.body li {
  line-height: 1.3em;
}

.body p a {
  font-weight: 300;
}

.body p,
.body ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.body h1 {
  margin-bottom: 1em;
  text-align: center;
  line-height: 1em;
  font-weight: 400;
}

.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  font-weight: 400;
  margin-top: 0.5em;
}

.body h2 {
  margin-top: 1em;
  line-height: 1.2em;
  border-bottom: 1px solid #ddf;
}

.body img {
  width: 100%;
}

.headerImg {
  width: 100%;
  padding-bottom: 20px;
}
